<div class="plate-root">
    <h1>My Awesome UI Library</h1>
    <plate-unstyled-button [buttonConfig]="{ariaLabel: 'Test'}" class="text-button" (clickButton)="clickButton($event)">Styled text button</plate-unstyled-button>
    <plate-unstyled-button [buttonConfig]="{isDisabled: true}" class="disabled" (clickButton)="clickButton($event)">Disabled button</plate-unstyled-button>
    <plate-unstyled-button [buttonConfig]="{disableOutline: true}" (clickButton)="clickButton($event)">Button with disabled outline</plate-unstyled-button>
    <plate-unstyled-button (clickButton)="clickButton($event)"><img src="https://img.icons8.com/material-sharp/24/000000/vector.png" alt="test" /></plate-unstyled-button>
</div>
